doctype html
html
  head
    title Ultimate Video Player
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1 user-scalable=no')
    link(rel='stylesheet', type='text/css', href='content/global.css')
    script(type='text/javascript', src='java/FWDUVPlayer.js')
  body
    block content
